@font-face {
  font-family: 'MaplestoryLight';
  src: url('../fonts/MaplestoryLight.ttf') format('truetype');
}


body {
  font-family: 'MaplestoryLight', sans-serif;
}

.hidden {
  display: none;
}


#menuButton {
  background-color: transparent; /* add this line */
  aspect-ratio: 1; /* add this line */
  width: 40px; /* adjust the width */
  height: 40px; /* adjust the height */
  font-size: 24px; /* adjust the font size */
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.question-mark {
  width: 24px;
  height: 24px;
  background: #3b82f6;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
  padding: 8px 12px;
  background: #1f2937;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #1f2937 transparent transparent transparent;
}

.tooltip.show {
  opacity: 1;
  visibility: visible;
}

.tooltip-container:hover .tooltip {
  display: block;
}